<li class="category-item">
    <h2 class="name"><a href="{{ category.get_absolute_url }}">{{ category }}</a></h2>
    <table class="forum-list">
        <thead>
            <tr>
                <th class="name">Название</th>
                <th class="feed">Фид</th>
                <th class="post-count">Ответы</th>
                <th class="recent-info">Последний ответ</th>
            </tr>
        </thead>
        <tbody>
            {% for forum in category.cached_forums %}
            {% include 'pybb/_forum_row.html' %}
            {% endfor %}
        </tbody>
        </table>
    </table>
</li>
