{% load pybb_tags %}

<tr class="forum-item">
    <td class="title">
        {% if forum|pybb_forum_unread:user %}<span class="unread"></span>{% endif %}
        <span class="name"><a href="{{ forum.get_absolute_url }}">{{ forum }}</a></span>
        <div class="description">{{ forum.description|safe }}</div>
    </td>
    <td class="feed"><a href="{% url pybb_feed_forum_byid_topic forum.pk %}"><img src="{{ MEDIA_URL }}img/feed-icon-small.png" /></a></td>
    <td class="post-count">{{ forum.post_count }}</td>
    <td class="recent-info">
        {% if forum.updated %}<a href="{{ forum.last_post.get_absolute_url }}">{% pybb_time forum.updated %}</a>{% endif %}
    </td>
</tr>
</tr>
