{% extends 'pybb/base.html' %}
{% load pybb_tags %}
{% load i18n %}

{% block pybb_head_extra %}
    <script type="text/javascript" src="{{ PYBB_MEDIA_URL }}js/pybbjs.js"></script>
{% endblock %}

{% block pybb_content %}
{% if user.pybb_profile.is_banned %}
    {% trans 'You banned' %}
{% else %}
    <div class="crumbs">
    {% if forum %}
        <a href="{% url pybb_index %}">{% trans "Root" %}</a> / <a href="{{ forum.category.get_absolute_url }}">{{ forum.category }}</a> / <a href="{{ forum.get_absolute_url }}">{{ forum }}</a>
    {% else %}
        <a href="{% url pybb_index %}">{% trans "Root" %}</a> / <a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category }}</a> / <a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum }}</a> / <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>
    {% endif %}
    </div>

    <h1>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h1>

    {% include "pybb/add_post_form.html" %}
{% endif %}

{% endblock %}
