{% extends 'pybb/base.html' %}
{% load pybb_tags %}
{% load i18n %}

{% block pybb_content %}
<div class="crumbs">
<a href="{% url pybb_index %}">{% trans "Root" %}</a> / <a href="{{ post.topic.forum.category.get_absolute_url }}">{{ post.topic.forum.category }}</a> / <a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum }}</a> / <a href="{{ post.topic.get_absolute_url }}">{{ post.topic }}</a>
</div>

<h1>{% trans "Editing the post" %}</h1>

<form method="post" action=".">
    <fieldset>
        <legend>{% trans "Editing the post" %}</legend>
            {{ form.as_p }}
            <p><input type="submit" value="{% trans 'Save' %}" /></p>
    </fieldset>
</form>
{% endblock %}
