{% extends 'pybb/base.html' %}
{% load pybb_tags %}
{% load i18n %}

{% block title %}
{{ forum }}
{% endblock %}

{% block crumbs %}
<a href="{% url pybb_index %}">{% trans "Root" %}</a> / <a href="{{ forum.category.get_absolute_url }}">{{ forum.category }}</a> / <a href="{{ forum.get_absolute_url }}">{{ forum }}</a>
{% endblock %}

{% block pybb_content %}
<ul class="forum-list">
    <li class="forum-details">
        <h2 class="name">{{ forum }}</h2>
        <ul class="topic-list">
            {% for topic in page.object_list %}
            <li class="topic-details{% if topic.sticky %} sticky{% endif %}">
                {% if topic|pybb_topic_unread:user %}<span class="unread"></span>{% endif %}
                {% if topic.closed %}{% trans "Closed" %}:{% endif %}
                {% if topic.sticky %}{% trans "Important" %}:{% endif %}
                <span class="name"><a href="{{ topic.get_absolute_url }}">{{ topic }}</a></span>
                <span class="post_count">{{ topic.post_count }}</span>
                <span class="updated">{% pybb_time topic.updated %}</span>
                {% pybb_topic_mini_pagination topic %}
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>

{% with _('Topics') as label %}
{% include "pybb/pagination.html" %}
{% endwith %}

{% if not user.pybb_profile.is_banned %}
    <div class="controls">
        <a href="{% url pybb_add_topic forum.id %}">{% trans "New topic" %}</a>
    </div>
{% endif %}

{% endblock %}
