{% load pybb_tags i18n %}
<tr>
    <td class="forum-status">
        {% if forum|pybb_forum_unread:user %}
        <span class="unread"></span>
        {% endif %}
    </td>
    <td class="forum-title">
        <a class="title" href="{{ forum.get_absolute_url }}">{{ forum }}</a>
        <div class="description">{{ forum.description|safe }}</div>
    </td>
    <td class="forum-topic-count">{{ forum.topic_count }}</td>
    <td class="forum-post-count">{{ forum.post_count }}</td>
    <td class="forum-last-post">
        {% with forum.last_post as post %}{% if post %}
        <a href="{% url post.get_absolute_url %}">{{ post }}</a>
        {% pybb_time post.created %} {% trans "from" %} {{ post.user|pybb_profile_link }}
        {% endif %}{% endwith %}
    </td>
</tr>
