{% load pybb_tags %}
{% load i18n %}

<ul class="pybb-main-menu">
    <li><a href="{% url pybb_user_list %}">{% trans "Users" %}</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url pybb_edit_profile %}">{% trans "My profile" %}</a></li>
    {% if user.is_superuser %}
    <li><a href="{% url admin:index %}">{% trans "Admin CP" %}</a></li>
    {% endif %}
    <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
    <li>{% trans "Logged in as " %} {{ user|pybb_profile_link }}</li>
    {% else %}
    <li><a href="{% url registration_register %}">{% trans "Sign up" %}</a></li>
    <li><a href="{% url auth_login %}">{% trans "Log in" %}</a></li>
    {% endif %}
    <li><a href="{% url pybb_feed "posts" %}" ><img src="{{ PYBB_MEDIA_URL }}img/feed-icon-small.png" alt="feed" /></a></li>
</ul>
