{% extends 'pybb/base.html' %}
{% load i18n %}

{% block pybb_content %}
<ul class="category-list">
    {% for cat in cats %}
    <li class="category-details">
        <h2 class="name"><a href="{{ cat.cat.get_absolute_url }}">{{ cat.cat }}</a></h2>
        <ul class="forum-list">
            {% for forum in cat.forums %}
            <li class="forum-details">
                {% include 'pybb/forum_row.html' %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
