{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block pybb_head_extra %}
    <script type="text/javascript" src="{{ PYBB_MEDIA_URL }}js/pybbjs.js"></script>
{% endblock %}

{% block pybb_crumbs %}
<a href="{% url website_index %}">Начало</a> &raquo;
<a href="{% url pybb_index %}">Форум</a> &raquo;
{% if forum %}
    <a href="{{ forum.category.get_absolute_url }}">{{ forum.category }}</a> &raquo;
    <a href="{{ forum.get_absolute_url }}">{{ forum }}</a>
{% else %}
    <a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category }}</a> &raquo;
    <a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum }}</a> &raquo;
    <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>
{% endif %}
{% endblock %}

{% block pybb_content %}
<div class="post-form-page">
    {% if user.pybb_profile.is_banned %}
        {% trans 'You banned' %}
    {% else %}
        {% include "pybb/post_form.html" %}
    {% endif %}
</div>
{% endblock %}
